<form [formGroup]="formulario" (submit)="onSubmit(formulario.value)">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" formControlName="id" placeholder="Id">

    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">

    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido">
    </div>
    <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" class="form-control" formControlName="cargo" placeholder="Cargo">
    </div>
    <div class="form-group">
        <label for="sueldo">Sueldo</label>
        <input type="text" class="form-control" formControlName="sueldo" placeholder="Sueldo">
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>